<footer class="footer">
    <div class="footer-container">
        <div class="footer-div">
            <div class="footer-img">
    <img srcset="./images/.jpg 1x,
    ./images/.jpg 2x"
    src="./images/.jpg"
    alt="happy women holding bananas"/>
            <div class="footer-icon-logo">
                <svg>
                    <use href="./img/icons.svg#icon-logo"
                    width="16"
                    height="16">
                </use>
                </svg>
                <a class="logo-text" href="#">FRESH HARVEST BOX</a>
            </div>
        </div>
        <ul class="footer-links">
            <li><a class="link" href="#">How it Works</a></li>
            <li><a class="link" href="#">Fruits</a></li>
            <li><a class="link" href="#">Contacts</a></li>
        </ul>
        </div>
        <div class="social-media">
            <ul class="footer-social-media">
                <li class="footer-icon-sm">
                    <a>
                        <svg class="icon">
                            <use href="./img/icons.svg#icon-facebook"
                            width="24"
                            height="24"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-icon-sm">
                    <a>
                        <svg class="icon">
                            <use href="./img/icons-svg#icon-instagram"
                            width="24"
                            height="24"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-icon-sm">
                    <a>
                        <svg class="icon">
                            <use href="./img/icons-svg#icon-youtube"
                            width="24"
                            height="24"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <address class="footer-address">
                <a class="phone" href="#">+380 (68) 443-94-26</a>
                <a class="address" href="#">
                    1678 S. Pioneer Road<br/>
                     Salt Lake City UT <br/>
                    84104</a>
            </address>
        </div>
    </div>
</footer>
