<footer class="footer" id="contact">
    <div class="footer-container">
        <div class="footer-div">
            
                <div class="footer-img">
    <img srcset="./img/footer/smile-women-desktop.jpg 1x"
    src="./img/footer/smile-women-desktop.jpg"
    alt="happy women holding bananas"/>
                

    <nav class="footer-nav"></nav>
        <div class="footer-icon-logo">
                <svg id="icon-logo" 
                class="icon-logo" 
                width="16"
                height="16">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg>
                <a href="./index.html" class="logo-text">FRESH HARVEST BOX</a>
        </div>
    </div>
        <ul class="footer-links">
            <li><a class="link" href="#">How it Works</a></li>
            <li><a class="link" href="#">Fruits</a></li>
            <li><a class="link" href="#">Contacts</a></li>
        </ul>
        </div>
    </nav>
        
        <div class="social-media">
            <ul class="footer-social-media">
                <li class="footer-icon-sm">
                    <a href="https://www.facebook.com/" target="_blank" class="sm-link">
                        <svg class="icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-icon-sm">
                   <a href="https://www.instagram.com/" target="_blank" class="sm-link">
                        <svg class="icon" width="24" height="24">



                        <use href="./img/icons.svg#icon-instagram"></use>

                        </svg>
                    </a>
                </li>
                <li class="footer-icon-sm">
                    <a href="https://www.youtube.com/" target="_blank" class="sm-link">
                        <svg class="icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-yt"> </use>
                        </svg>
                    </a>
                </li>
            </ul>

            <address class="footer-address">
                <ul class="ul-footer-address">
                    <li class="li-footer-address">
                        <a  href="+380684439426"
                        class="phone"
                         target="_blank">+380 (68) 443-94-26<br/></a></li>

                    <li class="li-footer-address">
                        <a href="https://www.google.com/maps/dir/51.2612997,15.589095/1678+S+Pioneer+St,+Salt+Lake+City,+UT+84109,+Stany+Zjednoczone/@3.1129207,-135.0844309,3z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x875261afff3b8d7b:0xc82181c90986b9fc!2m2!1d-111.820786!2d40.6998209?entry=ttu"
                        class="address"
                        target="_blank">
                    1678 S. Pioneer Road<br/>
                    Salt Lake City UT <br/>
                    84104</a></li>
                </ul>
            </address>
        </div>
    </div>
</footer>