<header class="header">
  <div class="header-contain">
    <a class="logo" href="./index.html">
      <svg id="logo-icon" class="logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      Fresh Harvest Box
    </a>
    <div class="header-container">
      <ul class="nav-list">
        <li><a class="nav-link" href="#how-it-works">How it works</a></li>
        <li><a class="nav-link" href="#fruits">Fruits</a></li>
        <li><a class="nav-link" href="#contact">Contacts</a></li>
      </ul>
      <svg id="hamburger" class="hamburger" width="24" height="24">
        <use href="./img/icons.svg#icon-hamburger-mobile"></use>
      </svg>
      <svg id="close" class="close" width="24" height="24">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
      <button class="button-cart" type="button">
        <svg id="cart" class="cart" width="24" height="24">
          <use href="./img/icons.svg#icon-uil_cart"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-modal">
      <ul class="mobile-nav-list">
        <li><a class="nav-link" href="#how-it-works">How it works</a></li>
        <li><a class="nav-link" href="#fruits">Fruits</a></li>
        <li><a class="nav-link" href="#contact">Contacts</a></li>
        <li class="cart-white">
          <button type="button" class="button-cart">
            <svg id="cart-white" class="cart-white" width="24" height="24">
              <use
                class="cart-white"
                href="./img/icons.svg#icon-uil_cart"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
