<header class="header">
    <div class="header-container">
        <nav class="navigation-links">   
            <a class="logo" href="./index.html">
                <svg id="logo-icon" class="logo-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>Fresh Harvest Box
            </a>
            <!-- <ul class="nav-list"> 
                <li><a class="nav-link" href="./index.html">Studio</a></li>
                <li><a class="nav-link" href="">Portfolio</a></li>
                <li><a class="nav-link" href="">Contacts</a></li>
            </ul> -->
        </nav>
        <svg id="hamburger" class="hamburger" width="24" height="24"><use href="./images/icons.svg#icon-menu"></use></svg>
        <!-- <svg id="cart" class="cart" width="24" height="24"><use href="./images/icons.svg#icon-cart"></use></svg> -->
    </div>
</header>
