<modal class="thank-you">
  <!-- <modal class="thank-you thank-you-is-on"> -->
  <div class="thank-you-container">
    <!-- <button id="thank-you-button" class="thank-you-button"> -->
      <svg id="thank-you-close" class="thank-you-close" width="24" height="24">
        <use href="../img/icons.svg#icon-x-white"></use>
      </svg>
    <!-- </button> -->
    <img
      srcset="../img/pop-up-thank-you/raspberry-fruit-desktop.png 1x, ../img/pop-up-thank-you/raspberry-fruit-mobile.png 2x"
      src="../img/pop-up-thank-you/raspberry-fruit-desktop.png"
      class="thank-you-image"
      alt="rasberry"
    />
    <h1 class="thank-you-header">THANK YOU</h1>
    <p class="thank-you-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</modal>
