<modal>
    <div class="modal-one">
        <h2 class="modal-one-title">
            YOUR ORDER
        </h2>
        <button type="button" class="modal-button">
             <svg width="12" height="12" class="modal-icon-one">
                <use href="../img/icons.svg#icon-modalclose1"></use>
            </svg>
        </button>
        <ul class="modal-list-one">
        <div class="modal-div-one">
            <h3 class="modal-title-two">Strawberry Basket</h3>
            <p class="modal-par-one">Plant</p>
            <input id="plant-order" type="checkbox" value="true" name="plant-order" class="checkbox-input visually-hidden" />
            <label for="user-privacy" class="checkbox-label"> 
                    <svg width="6" height="6" class="modal-icon-two">
                         <use href="./img/icons.svg#icon-modalcheck1"></use>
                    </svg>
            </label>
            <img class="modal-img-size"  
                src="/src/img/img61x.png" 
                alt="box with fruits" 
                width="288" height="288" />

            </div>
            </ul>
            
        
        
    </div>


</modal>
