
    <!DOCTYPE html>
    <html lang="pl">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../img/icons.svg" />
        <link rel="shortcut icon" href="favicona.png" sizes="16x16" type="image/png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
            rel="stylesheet" />
    </head>
    
    

<body>
<modal>
    <div class="modal-one">
        <div class="modal-head">
        <h2 class="modal-one-title">
            YOUR ORDER
        </h2>
        <button type="button" class="modal-button">
             <svg width="24" height="24" class="modal-icon-one">
                <use href="../img/icons.svg#icon-modalclose1"></use>
            </svg>
        </button>
        </div>
        <ul class="modal-list-one">
        <li class="modal-list-element-one">
            <div class="modal-title-div">
            <h3 class="modal-title-two">Strawberry Basket</h3>
            <p class="modal-par-one">Plant</p>
            </div>
            <img class="modal-img-size"  
                src="/src/img/img61x.png" 
                alt="box with Strawberry" 
                width="88" height="95" />
            <input id="plant-order" type="checkbox" value="true" name="plant-order" class="checkbox-input visually-hidden" />
            <label for="plant-order" class="checkbox-label"> 
                    <svg width="6" height="6" class="modal-icon-two">
                         <use href="./img/icons.svg#icon-modalcheck1"></use>
                    </svg>
            </label>
         </li>

        <li class="modal-list-element-two">
            <div>
            <h3 class="modal-title-two">Apple Basket</h3>
            <p class="modal-par-one">Plant</p>
            <img class="modal-img-size" 
            src="/src/img/img41x.png" 
            alt="box with apples" 
            width="106" height="95" />
            <input id="plant-order" type="checkbox" value="true" name="plant-order" class="checkbox-input visually-hidden" />
            <label for="user-privacy" class="checkbox-label">
                <svg width="6" height="6" class="modal-icon-two">
                    <use href="./img/icons.svg#icon-modalcheck1"></use>
                </svg>
            </label>
        </li>

        <li class="modal-list-element-three">
            <div>
                <h3 class="modal-title-two">Fruits Basket</h3>
                <p class="modal-par-one">Plant</p>
                <img class="modal-img-size" src="/src/img/img81x.png" alt="box with fruits" width="107" height="95" />
                <input id="plant-order" type="checkbox" value="true" name="plant-order"
                    class="checkbox-input visually-hidden" />
                <label for="user-privacy" class="checkbox-label">
                    <svg width="6" height="6" class="modal-icon-two">
                        <use href="./img/icons.svg#icon-modalcheck1"></use>
                    </svg>
                </label>
        </li>
        </ul>
        <ul class="modal-list-two">
            <li class="modal-list-element-three">
                <div class="modal-area-one">
                    <label for="user-name" class="modal-label-one"></label>
                    <textarea id="user-name" name="user-name" placeholder="Enter full name..."
                        class="modal-textarea"></textarea>
                </div>
            </li>
            <li class="modal-list-element-three">
                <div class="modal-area-one">
                    <label for="user-email" class="modal-label-one"></label>
                    <textarea id="user-email" name="user-email" placeholder="Enter email..." class="modal-textarea"></textarea>
                </div>
            </li>
            <li class="modal-list-element-three">
                <div class="modal-area-one">
                    <label for="user-card" class="modal-label-one"></label>
                    <textarea id="user-card" name="user-card" placeholder="Enter card.." class="modal-textarea"></textarea>
                </div>
            </li>
            <li class="modal-list-element-three">
                <div class="modal-area-two">
                    <label for="user-comments" class="modal-label-one"></label>
                    <textarea id="user-comments" name="user-comments" placeholder="Enter comments..." class="modal-textarea-two"></textarea>
                </div>
            </li>
        </ul>       
        <button class="checkbox-button" type="submit">Submit</button>
    </div>
</modal>
</body>
</html>