<section class="section-fruits-3" id="fruits">
  <div class="container-3">
    <h2 class="fruits-title">ORGANIC FRUITS</h2>
    <p class="fruits-undertitle">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          src="./img/fruits/product-1-desktop.png"
          alt="Strawberry"
          width="295"
        />

        <p class="fruits-price">100 UAH / kg</p>
      </li>

      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          src="./img/fruits/product-2-desktop.png"
          alt="Banana"
          width="295"
        />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          src="./img/fruits/product-3-desktop.png"
          alt="Watermelon"
          width="295"
        />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./img/fruits/product-4-desktop.png" alt="Lime" width="295" />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./img/fruits/product-5-desktop.png" alt="Apple" width="295" />
        <p class="fruits-price">50 UAH / kg</p>
      </li>

      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./img/fruits/product-6-desktop.png" alt="Peach" width="295" />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item plums">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./img/fruits/product-7-desktop.png" alt="Plums" width="295" />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          src="./img/fruits/product-8-desktop.png"
          alt="Orange"
          width="295"
        />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-type">Plant</p>
        <img src="./img/fruits/product-9-desktop.png" alt="Kiwi" width="295" />
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button type="button" class="button-order" data-order-open>
      <svg class="icon-arrow" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="button-name">ORDER</span>
    </button>
  </div>
</section>
