<section class="section-one">
  <div class="container">
    <h1 class="hero">
      fresh harvest box <br />
      is your one-stop place for a delicious fruit basket
    </h1>

    <img
      srcset="../img/img11x.jpg 1x, ..img/img12x.jpg 2x"
      src="../img/img11x.jpg"
      class="woman"
      alt="woman with some fruit"
    />
    <a href="#fruits"
      ><button class="shop-now-btn" type="button">shop now</button></a
    >
    <div class="parent">
    <div class="col-one">
      <p class="agenda">
        Our expertly curated fruit baskets are made <br />
        with the freshest, highest quality fruits <br />
        available. Whether you are looking for a healthy <br />
        snack or a gift for a loved one, Fresh Harvest <br />
        Box has got you covered.
      </p>
      <div class="green-space">
        <p class="fruit">Fruit</p>
        <img
          srcset="../img/wodnymelon1x.png 1x, ../img/wodnymelon2x.png 2x"
          src="../img/wodnymelon1x.png"
          class="georgia-watermeloni"
          alt="watermelon"
        />
        <p class="fruit-dscrb">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="col-two">
      <div class="circle">
        <ul class="four-circles">
          <li class="circles"><p class="circles-p">#organic</p></li>
          <li class="circles"><p class="circles-p">#products</p></li>
          <li class="circles"><p class="circles-p">#basket</p></li>
          <li class="circles"><p class="circles-p">#fruits</p></li>
        </ul>
      </div>
      <div class="yellow-space">
        <p class="fruit">Fruit</p>
        <img
          srcset="../img/straw-basket1x.png 1x, ../img/straw-basket2x.png 2x"
          src="../img/straw-basket.png"
          class="georgia-strawberrymeloni"
          alt="strawberry"
        />
        <p class="straw-dscrb">
          Sweet and juicy, <br />
          strawberries are packed <br />
          with vitamin C and <br />
          antioxidants, making them <br />
          a delicious and healthy <br />
          snack
        </p>
      </div>
    </div>
  </div>

    <p class="to-order">
      To order your fruit
      basket, simply follow 
      these easy steps
    </p>
    <p class="order">
      Our baskets are assembled with care and delivered
      straight to your doorstep, so you can enjoy the taste of
      fresh fruit without ever leaving your home. Whether
      you're looking for a healthy snack or a thoughtful gift, our fruit baskets
      are the perfect choice.
    </p>
    <div class="round">
      <ul class="three-rounds">
        <li class="rounds">
          <div class="inner-round">
            <p class="in-round-txt">First Step</p>
            <p class="step">
              Just choose the fruit you want to order by clicking on the
              checkboxes next to it.
            </p>
          </div>
        </li>
        <li class="rounds">
          <div class="inner-round-two">
            <p class="in-round-txt">Second Step</p>
            <p class="step">Click on the basket and fill out the form.</p>
          </div>
        </li>
        <li class="rounds">
          <div class="inner-round-three">
            <p class="in-round-txt">Third Step</p>
            <p class="step">
              Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
          </div>
        </li>
      </ul>  
    </div>
  </div>
  </div>
</section>
