<!--<section class="second-section">
  <div class="container second-container">
    <h2 class="second-section-name">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="second-section-paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="second-section-list">
      <li class="list-item">
        <h3 class="list-item-name first-elipse">First Step</h3>
        <p class="list-item-paragraph">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="list-item">
        <h3 class="list-item-name second-elipse">Second Step</h3>
        <p class="list-item-paragraph">
          Click on the basket and fill out the form.
        </p>
      </li>
      <li class="list-item">
        <h3 class="list-item-name third-elipse">Third Step</h3>
        <p class="list-item-paragraph">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
  </div>

  <img
    class="gif"
    width="860"
    height="476"
    src="../images/fruitsgif-min.gif"
    alt="moving image of different fruits"
  />
</section>