<section class="section-fruits-3" id="fruits">
  <div class="container-3">
    <h2 class="fruits-title">ORGANIC FRUITS</h2>
    <p class="fruits-undertitle">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list">
      <li class="fruits-item strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/strawberry1x.webp 1x,
            ./img/fruits/strawberry2x.webp 2x
          "
          src="./img/fruits/strawberry1x.webp"
          alt="Strawberry"
          width="295"
        />

        <p class="fruits-price">100 UAH / kg</p>
      </li>

      <li class="fruits-item banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/banana1x.webp 1x, ./img/fruits/banana2x.webp 2x"
          src="./img/fruits/banana1x.webp"
          alt="Banana"
          width="295"
        />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="
            ./img/fruits/watermelon1x.webp 1x,
            ./img/fruits/watermelon2x.webp 2x
          "
          src="./img/fruits/watermelon1x.webp"
          alt="Watermelon"
          width="295"
        />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/lime1x.webp 1x, ./img/fruits/lime2x.webp 2x"
          src="./img/fruits/lime1x.webp"
          alt="Lime"
          width="295"
        />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/apple1x.webp 1x, ./img/fruits/apple2x.webp 2x"
          src="./img/fruits/apple1x.webp"
          alt="Apple"
          width="295"
        />
        <p class="fruits-price">50 UAH / kg</p>
      </li>

      <li class="fruits-item peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/peach1x.webp 1x, ./img/fruits/peach2x.webp 2x"
          src="./img/fruits/peach1x.webp"
          alt="Peach"
          width="295"
        />
        <p class="fruits-price">80 UAH / kg</p>
      </li>

      <li class="fruits-item plums">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/plums1x.webp 1x, ./img/fruits/plums2x.webp 2x"
          src="./img/fruits/plums1x.webp"
          alt="Plums"
          width="295"
        />
        <p class="fruits-price">40 UAH / kg</p>
      </li>

      <li class="fruits-item orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/orange1x.webp 1x, ./img/fruits/orange2x.webp 2x"
          src="./img/fruits/orange1x.webp"
          alt="Orange"
          width="295"
        />
        <p class="fruits-price">60 UAH / kg</p>
      </li>

      <li class="fruits-item kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-type">Plant</p>
        <img
          srcset="./img/fruits/kiwi1x.webp 1x, ./img/fruits/kiwi2x.webp 2x"
          src="./img/fruits/kiwi1x.webp"
          alt="Kiwi"
          width="295"
        />
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button type="button" class="button-order" data-order-open>
      <svg class="icon-arrow" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="button-name">ORDER</span>
    </button>
  </div>
</section>
