<section-four class="section-four">
  <div class="heading-style">
    <div class="heading-img">
      <h2 class="heading-one">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
    </div>
    <div class="green-style">
      <img
        class="picture-one-small"
        src="./css/images/zielony.webp"
        width="335"
        height="476"
        alt="green fruit"
      />
    </div>
    <div class="pictures-style">
      <img
        class="picture-one"
        src="./css/images/zielony-ok.jpg"
        width="344"
        height="480"
        alt="green fruit"
      />
      <img
        class="picture-two"
        src="./css/images/blueberry-przycięta.png"
        width="344"
        height="480"
        alt="blueberry fruit"
      />
    </div>
  </div>
  <div class="div-style">
    <p class="paragraph">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <form
      class="email-form"
      name="user_email"
      placeholder="Enter email..."
      recquired
    >
      <label class="label-form">
        <input
          class="input-form"
          type="email"
          name="email"
          placeholder="Enter email..."
        />
      </label>
      <button class="button-form" type="submit">Send</button>
    </form>
  </div>
</section-four>
