.header {
  padding: 20px 0;
  /*  */
  border-bottom: 1px solid #e7e9fc;
  min-height: 72px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-height: 56px;   
}

.header-container {
  display: flex;
}

.logo {
  /* font DM Sans */
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color:#AE1332;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: left;
  color: #2E2F42;
  padding: 24px 0;
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
