.button-cart {
  background:none;
  border: none;
  cursor: pointer;
}

.header {
  z-index: 999;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 0 20px 0 20px;
  justify-content: center;
  /* RESPONSIVE BELOW */
  /* width: 100%; 
  justify-content: space-between;
  align-items: center;
  justify-items: baseline; */
}

.header-contain {
  display: flex;
  gap: 155px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: baseline;
  /* width: inherit; */
}

.logo {
  font-family: 'DM SANS';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--color-red);
  text-transform: uppercase;
  display: flex;
  justify-content: baseline;
  gap: 8px;
}

.nav-list,
.cart,
.mobile-menu,
.close {
  display: none;
}

.is-open {
  display: block;
  z-index: 999;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: var(--color-red);
  width: 100%;
  height: 100%;
}

.close-is-on {
  background-color: var(--color-white);
  top: 12px;
  right: 20px;
}

.cart-white {
  fill: var(--color-white);
}

.nav-link {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  line-height: 1.5;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 124px;
  gap: 16px;
}

@media (width >= 768px) {
  .header-contain {
    min-width: 704px;
  }

  .hamburger {
    display: none;
  }

  .cart {
    display: block;
    fill: var(--color-red);
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  .nav-link {
    color: var(--color-red);
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
  }

  .header-container {
    min-width: 704px;
  }

  .header {
    padding: 0 32px 0 32px;
  }
}

@media (width >= 1280px) {
  .header-contain {
    min-width: 1216px;
  }

  .header-container {
    min-width: 1216px;
  }

}
