.header {
  padding: 20px 0;
  height: 50px;
  display: flex;
  align-items: center;  
}

.header-container {
  display: flex;
}

.logo {
  /* font DM Sans */
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color:#AE1332;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  /* font DM Sans */
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  line-height: 1.5;
  color:#AE1332;
}
