.section-four {
  background-color: #ae1332;
}
.heading-style {
  margin: 0;
}
.heading-one {
  text-align: center;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  top: 75px;
}
@media (min-width: 768px) {
  .heading-style {
    margin-right: 32px;
    gap: 80px;
  }
}
@media (min-width: 768px) {
  .heading-one {
    font-size: 54px;
    line-height: 54px;
    margin-left: 60px;
    margin-right: 60px;
    width: 648px;
  }
}
@media (min-width: 1280px) {
  .heading-one {
    line-height: 64px;
    font-size: 64px;
    margin-right: 270px;
    margin-left: 270px;
    top: 90px;
    width: 740px;
    height: 128px;
  }
}
.picture-one-small {
  border-radius: 20px;
  object-fit: cover;
}
.green-style {
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .pictures-style {
    display: none;
  }
}
.div-style {
  display: none;
}
@media (min-width: 768px) {
  .green-style {
    display: none;
  }
}
@media (min-width: 768px) {
  .pictures-style {
    display: flex;
    list-style-type: none;
    gap: 16px;
    object-fit: cover;
    margin-right: 24px;
    margin-left: 24px;
    width: 704px;
    height: 559px;
    margin-bottom: 0;
  }
}
.picture-green {
  display: none;
}
@media (min-width: 768px) {
  .picture-one {
    border-radius: 20px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .picture-two {
    border-radius: 20px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .picture-green {
    display: none;
  }
}
@media (min-width: 1280px) {
  .pictures-style {
    gap: 24px;
    margin-right: 32px;
    margin-left: 32px;
    width: 1216px;
    height: 591px;
  }
}
@media (min-width: 1280px) {
  .picture-one {
    width: 792px;
    height: 502px;
  }
}
@media (min-width: 1280px) {
  .picture-two {
    width: 400px;
    height: 502px;
  }
}
@media (min-width: 768px) {
  .div-style {
    background-color: #ae1332;
    opacity: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 138px;
    margin-right: 138px;
    width: 492px;
  }
}
@media (min-width: 1280px) {
  .div-style {
    margin-right: 394px;
    margin-left: 394px;
  }
}
@media (min-width: 768px) {
  .paragraph {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0;
    line-height: 18px;
    letter-spacing: -4%;
    font-family: DM Sans;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .email-form {
    background-color: #ae1332;
    width: 292px;
    height: 48px;
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media (min-width: 768px) {
  .input-form {
    border-color: #ffffff;
    background-color: #ae1332;
    border: 1px;
    padding: 10px;
    border-radius: 100px;
    width: 292px;
    height: 48px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .button-form {
    background-color: #9dc162;
    width: 102px;
    height: 48px;
    padding: 15px 35px 15px 35px;
    gap: 15px;
    opacity: 0px;
    color: white;
    border: none;
    display: inline-block;
    font: inherit;
    border-radius: 100px;
    position: relative;
    bottom: 48px;
    left: 190px;
  }
}
@media (min-width: 768px) {
  .label-form {
    border-radius: 100%;
  }
}
@media (min-width: 768px) {
  .input-form::placeholder {
    color: #ffffff;
  }
}
