.gif-block {
  padding: 0 20px 80px;
  background-color: var(--color-red);
}
.gif {
  border-radius: 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .gif-block {
    padding: 0 32px 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .gif-block {
    padding: 0 178px 150px;
  }
}
