.second-section {
  padding: 0 20px 80px;
}
@media only screen and (min-width: 768px) {
  .section-fruits {
    padding: 0 72px 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-fruits {
    padding: 0 32px 150px;
  }
}
.second-container {
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 1216px;
  min-width: 335px;
  gap: 44px;
  margin: 0 auto;
}
.second-section-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-white);
  box-shadow: 0px 4px 70px 0px #0000001a;
}

.second-section-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-white);
  box-shadow: 0px 4px 70px 0px #0000001a;
}
.second-section-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 295px;
  height: 72px;
  top: 20px;
  left: 20px;
  gap: 14px;
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 20px;
}
.list-item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: center;
  width: 73px;
  height: 24px;
  color: var(--color-white);
}

.first-elipse {
  background-color: var(--color-red);
  max-width: 136px;
  height: 48px;
  padding: 15px 42px 15px 42px;
  gap: 10px;
  border-radius: 40px;
}
.second-elipse {
  background-color: #a1c864;
  max-width: 136px;
  height: 48px;
  padding: 15px 42px 15px 42px;
  gap: 10px;
  border-radius: 40px;
}
.third-elipse {
  background-color: var(--color-yellow);
  max-width: 136px;
  height: 48px;
  padding: 15px 42px 15px 42px;
  gap: 10px;
  border-radius: 40px;
}
.list-item-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 166px;
  height: 54px;

  box-shadow: 0px 4px 70px 0px #0000001a;
}
@media (max-width: 1279px) {
  .second-section-list {
    flex-direction: column;
  }
}

.gif {
  display: block;
  margin: 44 auto;
  border-radius: 20px;
}
@media (max-width: 1279px) {
  .gif {
    width: 82%;
  }
}
@media (min-width: 1280px) {
  .gif {
    width: 100%;
  }
}
