.section-four {
  width: 375px;
}
.heading-one {
  width: 335px;
  height: 96px;
  text-align: center;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}
.section-contacts {
  margin: 0;
  padding: 0;
}
.picture-one {
  border-radius: 20px;
  object-fit: cover;
}
.green-style {
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}
