@import url('../css/reset.css');
@import url('../css/header.css');
@import url('../css/section1.css');
@import url('../css/section2.css');
@import url('../css/section3.css');
@import url('../css/section4.css');
@import url('../css/footer.css');
@import url('../css/modal1.css');
@import url('../css/modal2.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM-sans', sans-serif;
}

:root {
  /* colors */
  --color-black: #000000;
  --color-red: #ae1332;
  --color-green: #a4cb66;
  --color-yellow: #f5ce13;
  --color-white: #ffffff;
  --color-pink: #e03f5e;

  --var-1-animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol,
li,
a {
  list-style-type: none;
  text-decoration: none;
}

section {
  background-color: var(--color-red);
}

header,
footer {
  --color-white: #ffffff;
}
